<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form For Friend</title>
    <style>
        body {
          background-color:	#ebf5fc ;
        }
        table{
          border-collapse: collapse;
          margin-left: auto;
          margin-right: auto;

        }
        table th {
          border: 2px solid #FFF;
          text-align: center;
          background-color: #4f29cd;
          color: #FFF;
          padding: 8px 60px 10px 20px;
        }
        table td {
          border: 2px solid #FFF;
          padding: 10px 20px;
        }
        table tr:nth-child(odd) td {
          background-color: #FFF;
        }
    /* style idea from https://www.youtube.com/watch?v=BczLWImAmBk */
    </style>
  </head>
  <body>
      <div style="text-align: center;">
        <h1>ADD NOTES</h1>
      </div>
        <form action="" method="POST">
            {% csrf_token %}
            <table>
              {{ form }}
            </table><br>
            <div style="text-align: center;">
                <input type="submit" value="Submit"/>
            </div>
        </form>
  </body>
</html>
