<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
        *

        {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body{
            display: flex;
            justify-content: left;
            align-items: center;
            min-height: 100vh;
            background: #ebf5fc;
        }

        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 1000px;
            flex-wrap: wrap;
            padding: 50px 0;
        }

        .container .card{
            position: relative;
            width: 350px;
            height: 450px;
            box-shadow: inset 6px 6px 6px rgba(0,0,0,0.05),
                        inset -5px -5px 5px rgba(255,255,255,0.5),
                        5px 5px 5px rgba(0,0,0,0.05),
                        -5px -5px 5px rgba(255,255,255,0.5);
            border-radius: 15px;
            margin: 25px;
        }

        .container .card .box{
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            background: #ebf5fc;
            box-shadow: 0 12px 18px rgba(0,0,0,0.1);
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;
        }

        .container .card:hover .box{
            transform: translateY(-45px);
            box-shadow: 0 12px 18px rgba(0,0,0,0.2);
            background: linear-gradient(40deg,#b95ce4,#4f29cd);
        }

        .container .card .box .content{
            padding: 15px;
            text-align: center;
        }

        .container .card .box .content h2{
            position: absolute;
            top: -8px;
            right: 25px;
            font-size: 5em;
            color: rgba(0,0,0,0.02);
            transition: 0.5s;
            pointer-events: none;
        }

        .container .card:hover .box .content h2{
            color: rgba(0,0,0,0.05);
        }

        .container .card .box .content h3{
            font-size: 1.8em;
            color: #777;
            z-index: 1;
            transition: 0.5s;
        }

        .container .card .box .content p{
            font-size: 1em;
            font-weight: 350;
            color: #777;
            z-index: 1;
            transition: 0.5s;
        }

        .container .card:hover .box .content h3, 
        .container .card:hover .box .content p{
            color: #fff;
        }

        .container .card .box .content a{
            position: relative;
            display: inline-block;
            padding: 10px 20px;
            background: #03a9f4;
            margin-top: 12px;
            border-radius: 20px;
            color: #fff;
            text-decoration: none;
            font-weight: 350;
            box-shadow: 0px 15px 25px rgba(0,0,0,0.2);
        }

        .container .card:hover .box .content a{
            background: #ff568f;

        }
    /* style idea from yotube **/
    </style>
  </head>
  <body>
    <h1>CARD NOTES</h1>
    <br>
    {% for note in notes %}
    <card>
        <div class="container">
            <div class="card">
                <div class="box">
                    <div class="content">
                        <h2>The Card</h2>
                        <h3>{{ note.title }}</h3><br>
                        <p>To: {{ note.to }}<br>
                           From: {{ note.from_who }}<br>
                           Message: {{ note.message }} </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </card>
    {% endfor %}
  </body>
</html>
