<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form For Friend</title>
    <style>
        body {
          background-color:	#FFF ;
        }
        table{
          border-collapse: collapse;
          margin-left: auto;
          margin-right: auto;

        }
        table th {
          border: 1px solid #FFF;
          text-align: center;
          background-color: #63B4B8;
          color: #FFF;
          padding: 4px 30px 4px 8px;
        }
        table td {
          border: 1px solid #FFF;
          padding: 4px 8px;
        }
        table tr:nth-child(odd) td {
          background-color: #A9E4D7;
        }
    /* style idea from https://www.youtube.com/watch?v=BczLWImAmBk */
    </style>
  </head>
  <body>
        <form action="" method="POST">
            {% csrf_token %}
            <table>
              {{ form }}
            </table>
            <input type="submit" value="Submit">
        </form>
  </body>
</html>
